#band {
  font-family: system-ui;
  text-align: center;
  margin-top: 30px;
}

#band h2 {
  text-align: center;
  letter-spacing: 7px;
}

#band span {
  text-align: center;
  font-style: italic;
}

#band p {
  text-align: center;
  color: darkgray;
}

.rounded-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 15px;
}

.card {
  text-align: center;
  margin-top: 30px;
  background-color: white;
  color: black;
}