footer {
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-arrow {
  font-size: 30px;
  cursor: pointer;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
