#contact h2 {
  text-align: center;
  letter-spacing: 7px;
}

#contact p {
  text-align: center;
  font-style: italic;
}

#contact {
  background-color: white;
  margin-top: 30px;
}

.contact-list {
  list-style: none;
  padding-left: 0;
}

.contact-list-item img {
  width: 30px;
  margin-right: 10px;
}

.contact-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
