#tour {
  font-family: system-ui;
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px;
}

#tour h2 {
  text-align: center;
  letter-spacing: 7px;
}

#tour p,
#tour .card-text,
#tour .card-title {
  text-align: center;
  font-style: italic;
}

.card {
  text-align: center;
  margin-top: 30px;
  background-color: white;
  color: black;
}

.card-title {
  font-weight: bold;
}

#tabella {
  background-color: white;
  color: black;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.red-box {
  background-color: red;
  color: white;
  padding: 5px 10px;
}

.gray-dot {
  background-color: gray;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.btn-black {
  border: solid 2px black;
  background-color: black !important;
  color: white !important;
}

td,
td > span {
  text-align: left;
}
